// {{ToSpace $.Name}} Pub Sub
resource "google_pubsub_topic" "{{ToSnake $.Name}}_topic" {
  name = "{{$.Name}}"
}

resource "google_pubsub_subscription" "{{ToSnake $.Name}}_subscription" {
  name  = "{{$.Name}}-subscription"
  topic = google_pubsub_topic.{{ToSnake $.Name}}_topic.name
}
