// {{ToSpace $.Name}} IoT Core
resource "google_cloudiot_registry" "{{ToSnake $.Name}}_registry" {
  name = "{{$.Name}}"
  {{ if gt (len $.EventNotificationConfigs) 0 }}{{ range $i, $evt := $.EventNotificationConfigs }}
  event_notification_configs {
    pubsub_topic_name = google_pubsub_topic.{{ToSnake .TopicName}}_topic.id
  }
{{end}}{{end}}}

resource "google_cloudiot_device" "{{ToSnake $.Name}}_device" {
  name     = "{{$.Name}}-device"
  registry = google_cloudiot_registry.{{ToSnake $.Name}}_registry.id
}
